.footer__adress {
  display: flex;
  flex-direction: column;
  background-image: url('/onda.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 100%;
  height: 70vh;
  padding-top: 230px;
}



.logo__footer {
  width: 412px;
  height: 107px;
  margin: 45px auto;
}

.infos {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.adress {
  width: 100%;
  max-width: 400px;
  margin-right: 2rem;
}

.adress h2 {
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  color: #2A636B;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

.adress p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #2A636B;
  padding-top: .5rem;
}

.contact {
  width: 100%;
  max-width: 400px;
  margin-bottom: 2rem;
}

.contact h2 {
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  color: #2A636B;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

.contact p {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #2A636B;
  padding-top: .5rem;
}

.socials {
  width: 100%;
  max-width: 400px;
}

.socials h2 {
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  color: #2A636B;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  padding-left: 1.5rem;
}

.icons {
  display: flex;
}

.icons ul {
  list-style: none;
}

.icons img {
  width: 100px;
  height: 100px;
}

.copyright{
  background-color:#b2c5c6 ;
}
.line {
    padding-left: 15rem;
}

.copyright p{
  text-align: center;
  padding-bottom: 2rem;
}


@media screen and (max-width: 480px) {
  .footer__adress {
      
    /* background-size: 100%; */
    padding-bottom: 2rem;
    background: #b2c5c6;
    /* Adicionar um espaçamento inferior para acomodar o conteúdo */
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%
  }

  .logo__footer {
    width: 100%;
    height: auto;
    margin: 1rem auto;
  }

  .infos {
    margin-top: 2rem;
    margin-left: 1rem;
    
  }

  .adress,
  .contact,
  .socials {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .adress p,
  .contact p {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .socials h2 {
    padding-left: 0;
    font-size: 14px;
  }

  .icons h2{
    font-size: 25px;
  }

  .icons img {
    width: 100px;
    height: 100px;
  }

  .line {
    width:90%;
    padding-left: 2rem;
  }

  .line.mobile {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #2A636B;
    margin-top: 1rem;
  }

  .logo__footer {
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
    position: static;
  }

  .infos {
    top: 0;
    margin: 2rem 0;
  }



  .contact p {
    font-size: 12px;
    line-height: 24px;
  }

  .copyright p{
    font-size: 14px;
    text-align: center;
  }
}
